* {
    margin: 0;
    padding: 0;
    width: auto;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body, html{
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}

.container {
    max-width: 3200px;
    margin:auto;
}

.header {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(https://images.prismic.io/simpliroute/85eca361-d606-4cb9-9bb3-0bc359e09961_planograma+de+abarrotes.jpg?auto=compress%2Cformat&rect=0%2C121%2C1920%2C836&w=1920&fit=max&q=100);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 10vh;
    display: flex;
    align-items: center;
}

.menu {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-logo {
    width: 80px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    text-transform: uppercase;
}

.menu .navbar ul li a {
    font-size: 10px;
    padding: 20px;
    color: #ffFdfc;
    display: block;
    text-decoration: none;
    font-size: 15px;
}

.menu .navbar ul li a:hover {
    color: #ce967b;
}

#menu {
    display: none;
}

.menu-icono {
    width: 50px;
    padding: 0 10px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.card {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.card {
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    width: 100%; /* Ajusta el ancho de la tarjeta */
    max-width: 600px; /* Establece un ancho máximo para la tarjeta */
    margin: 30px auto; /* Centra la tarjeta y añade un margen superior e inferior */
    background-color: #323337; 
    color: #ccc;
    padding: 20px; /* Añade un espacio interno a la tarjeta */
}

.card-v {
    width: 516px; /* Ancho de la carta */
    height: 300px; /* Alto de la carta */
    margin: 30px; /*division de cada card en 30px*/
    object-fit: cover;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit);
    gap: 20px; /* Espacio entre las cartas */
    justify-items: center; /* Alinea el contenido en el centro horizontalmente */
    text-align: center;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #ce967b;
    color: #f9fafc;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-1:hover{
    background-color: #ebad8d; 
}

.footer{
    padding: 15px 0;
    background-color: #2a2a2a;
    color: #fff;
}

.container-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer h3 {
    font-size: 20px;
    color: #FFE333;
    margin-bottom:15px;

}

.derechos{
    text-align: center;
} 

@media (max-width: 800px){
    .menu{
        padding: initial;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute; 
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
        z-index: 1000; /* Ajuste del z-index para que esté encima del slider */
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: initial;
        text-align: center;
        text-transform: uppercase;
    }
    .header {
        min-height: 0vh;
    }
    .header-content {
        padding: 100px 30px;
    }
    .header-content p {
        padding: 0;
    }
    .card-container{
        max-width: auto;
        max-height: auto;
    }
    .card{
        width: 300px;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .card-v{
        max-width: 300px;
        max-height: 250px;
        justify-content: center;
        flex-direction: column;
    }

    .footer {
        max-width: auto;
        max-height: auto;
    }

}