{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de registro</title>
    <link rel="stylesheet" href="{% static 'CSS/styles_main.css' %}">
    <!-- este scrip me permite utilizar los metodos de jquery para validar -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- este link me permite implementar boostrap apra los colores para validar los campos -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="title">Formulario de registro</div><br>
        <form id="form" method="post">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Nombre de Usuario</span>
                    <input type="text" id="username" name="username" placeholder="Nombre de Usuario" required>
                </div>
                <div class="input-box">
                    <span class="details">Rut</span>
                    <input type="text" id="rut" name="rut" maxlength="12" placeholder="xxxxxxxx-x (sin puntos)" onkeypress="return isNumber(event)" oninput="checkRut(this)" required>
                </div>
                <div class="input-box">
                    <span class="details">Apellidos</span>
                    <input type="text" id="apellidos" name="apellidos" placeholder="Vilchez Montenegro" required>
                </div>
                <div class="input-box">
                    <span class="details">Nombres</span>
                    <input type="text" id="nombres" name="nombres" placeholder="Jose Antonio" required>
                </div> 
                <div class="input-box">
                    <span class="details">Fecha nacimiento</span>
                    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="01-02-1999" required>
                </div>
                <div class="input-box">
                    <span class="details">Edad</span>
                    <input type="text" id="edad" name="edad" maxlength="2" placeholder="45" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" id="email" name="email" placeholder="jvilchez@duocuc.cl" required>
                </div>
                <div class="input-box">
                    <span class="details">Celular / Telefono</span>
                    <input type="text" id="celular" name="celular" maxlength="11" placeholder="56912345678" required>
                </div>
                <div class="input-box">
                    <span class="details">Contraseña</span>
                    <input type="password" id="password" name="password" placeholder="hola1234" required>
                </div>
            </div>
            <div class="gender-details">
                <input type="radio" name="gender" id="dot-1" value="Hombre" required>
                <input type="radio" name="gender" id="dot-2" value="Mujer" required>
                <input type="radio" name="gender" id="dot-3" value="Otro" required>
                <span class="details-title">Género</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Hombre</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Mujer</span>
                    </label>
                    <label for="dot-3">
                        <span class="dot three"></span>
                        <span class="gender">Otro</span>
                    </label>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Registrar">
            </div>
        </form>
        <a href="{% url 'login' %}">Volver al Login</a>
    </div>
    <script src="{% static 'JS/validaciones.js' %}"></script>
</body>
</html>
